<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.djdenpa.quickcalendar">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".views.activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".views.activities.EditCalendarActivity">
      <intent-filter android:label="Quick Calendar Share">
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="raw.githubusercontent.com"
            android:pathPrefix="/eugenexlin/quick-calendar"
            android:scheme="https"/>
        <!-- this shall accept ?hash='hash' -->
      </intent-filter>

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.activities.MainActivity"/>
    </activity>

    <receiver android:name=".widget.EventListWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/event_list_widget_info"/>
    </receiver>
  </application>

</manifest>